<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.phibonacci.kairos" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kairos</name>
    <description>
        Prioritze tasks based on urgency.
    </description>
    <author email="support@phibonacci-creativo.com" href="http://www.phibonacci-creativo.com">
        Phibonacci Creativo
    </author>

    <plugin name="cordova-plugin-whitelist" spec="~1.3.4" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.0" />
    
    <content src="index.html" />
    <access origin="*" />
    
    <allow-navigation href="*" />
    
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="SplashScreenDelay" value="0" />
    <platform name="android">
        <icon src="www/icon.png" />
    </platform>
    <platform name="ios">
        <icon src="www/icon.png" />
        <icon height="1024" width="1024" src="www/icon.png" />
        <icon height="152" width="152" src="www/apple-icon-152.png" />
        <icon height="120" width="120" src="www/apple-icon-120.png" />
        <icon height="40" width="40" src="www/apple-icon-40.png" />
        <splash src="www/apple-icon-120.png" />
        <preference name="FadeSplashScreenDuration" value="0" />
    </platform>
</widget>
